* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #EDEDED;
}

.secondary-color {
    color: #451740;
}

::-webkit-scrollbar {
    width: .75em;
}

::-webkit-scrollbar-track {
    background: #C542B7;
    border-radius: 100vw;
    margin-block: 2em;
}

::-webkit-scrollbar-thumb {
    background: #451740;
    border: .2em solid #C542B7;
    border-radius: 100vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #F2F2F2;
    border-radius: 15px;
    min-width: 770px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #C542B7;
    max-width: 545px;
    min-height: 80vh;
    border-radius: 15px 0 0 15px;
}

.sidebar-logout {
    max-width: 72px;
    margin: 24px 0 0 24px;
    align-self: flex-start;
    height: 34px;
    font-size: 16px;
    font-weight: 700;
    background-color: #C542B7;
    color: #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #F2F2F2;
}

.sidebar-logout:hover {
    color: #451740;
    border: 2px solid #451740;
}

.sidebar-title {
    font-size: 62px;
    font-weight: 700;
    color: #F2F2F2;
}

.sidebar-tagline {
    margin-top: 8px;
    color: #F2F2F2;
    font-size: 16px;
    font-weight: 700;
}

.sidebar-addtodo {
    margin-top: 105px;
    font-size: 32px;
    font-weight: 700;
    color: #F2F2F2;
}

.sidebar-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-form-update {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.sidebar-update-btn {
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    background-color: #C542B7;
    color: #451740;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #451740;
}

.sidebar-form-input {
    margin-top: 20px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-indent: 18px;
    margin: 0 24px;
}
.sidebar-form-input::placeholder {
    font-size: 16px;
    font-weight: 700;
}

.sidebar-addtodo-btn {
    margin-top: 21px;
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    background-color: #C542B7;
    color: #451740;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #451740;
}

.sidebar-addtodo-btn:hover {
    color: #F2F2F2;
    border: 2px solid #F2F2F2;
}

.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 775px;
    overflow: hidden;
    overflow-y: scroll;
}

.todo-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C542B7;
    padding: 20px 35px;
    margin: 24px 112px;
    border-radius: 10px;
}

.update-icon, .delete-icon {
    height: 35px;
    width: 35px;
    color: #F2F2F2;
}

.todo-text {
    font-size: 16px;
    font-weight: 700;
    color: #451740;
}

.todo-list-icons {
    display: flex;
    gap: 35px;
}
.complete {
    text-decoration: line-through;
    opacity: 0.6;
}


@media (max-width: 1024px) {
    
    main {
        align-items: normal;
        height: 0;
    }
    
    .app-container {
        display: block;
        min-width: 80%;
        max-height: 80%;
        margin: 24px 0;
        border-radius: 15px;
        height: 100%;
        min-width: none;
    }
    
    .sidebar-container {
        gap: 0;
        max-width: none;
        min-height: 0;
        border-radius: 15px 15px 0 0;
    }
    
    .sidebar-addtodo {
        margin-top: 45px;
    }
    
    .sidebar-form {
        flex-direction: row;
        margin-top: 24px;
        margin-bottom: 45px;
    }
    
    .sidebar-addtodo-btn {
        margin-top: 0;
    }
    
    .todo-container {
        display: block;
        height: 57vh;
        overflow: hidden;
        overflow-y: scroll;
    }
    
    
}